@charset "UTF-8";


/* BODY */

body {
	font-family: Lucida;
	background-image: url("thehobbit2014.jpg");
	background-repeat: no-repeat;
	color: #c8a064;
	width: 1200px;
	height: 1600px;	
}

/* ASIDE */
aside {
	font-size: 18px;
	word-spacing: 5px;
	line-height: 2px;
	text-align: center;
	padding-top: 15px;
}

aside a {
	text-decoration: none;
	color: inherit;
	font-style: italic;
}

aside a:hover {
	text-decoration: underline;
	color: rgb(126,36,36);
}

#director {
	font-size: 18px;
	text-align: center;
	line-height: 10px;
}

#posters {
	font-size: 16px;
	text-align: center;
	line-height: 15px;
	position: relative;
	right: -37%;
}
/* HEADER */

header {
	line-height: 3px;
	clear: both;
	text-align: center;
	position: relative;
	bottom: 13.5%;
}

header ul {
	clear: both;
	line-height: 10px;
	position: absolute;
	top: -300%;
}

li {
	margin-right: 20px;
	display: inline;
}

li a {
	font-family: cursive;
	text-decoration: none;
	color: inherit;
}

li a:hover {
	text-decoration: underline;
	color: rgb(126,36,36);
}

h1 {
	font-size: 6em;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 16px;
}

hgroup {
	line-height: 2px;

}


/* SECTION */

section {
	background-color: rgb(150,150,128);
	font-family: Cambria;
	color: rgb(126,36,36);
	font-size: 14px;
	line-height: 10px;
	position: relative;
	bottom: 10%;
	text-align: center;
}

section sub {
	vertical-align: inherit;
	font-size: 11px;
}
/* FOOTER */

footer {
	margin-left: 12%;
	overflow: hidden;
	width: 60%;
	position: relative;
	bottom: 21%;
	line-height: 5px;
	font-family: Arial Black;
	font-size: 12px;
	color: white;
}
